/* ν‘Έν„° */
.footer {
    padding: 65px 0px;
    color: #959595;
    display: flex;
    justify-content: center;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) { 

    .footer{
        padding: 24px;
    }

}