/* 메인 */
.main {
  /* max-width: 1400px; */
  margin: 0 auto 40px;
  padding: 0;
  line-height: 3;
}

.blog {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 60vh);
  margin-bottom: 40px;
}

.blog__post {
  background-color: #f3ede8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog__post:nth-child(even) img {
  order: 1;
}

.blog__post img {
  width: 100%;
  height: 100%;
}

.post__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post__date {
  margin-bottom: 70px;
}

.post__content p {
  font-size: 32px;
  margin-bottom: 40px;
  font-family: "freight-display-pro", "Times New Roman", serif;
}

.post__content a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.post__content a:hover {
  background-color: #414141;
  color: white;
}

.gallery {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 410px);
  margin-bottom: 40px;
}
.gallery__poster {
  height: 100%;
  cursor: pointer;
}
.gallery__poster img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}
.gallery__poster:hover {
  opacity: 0.5;
}

/* 토글 */
.navbar__toggle-btn {
  position: absolute;
  top: 36px;
  left: 36px;
  font-size: 20px;
  color: black;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* 메뉴 */
.navbar__menu {
  display: none;
  position: absolute;
  z-index: 1;
}

/* 남자 여자 하위 리스트 가리기 */
.man__list,
.woman__list {
  display: none;
  margin-left: 35px;
}

/* 오픈 */
.navbar__menu.open,
.man__list.open,
.woman__list.open {
  display: flex;
  flex-direction: column;
}

/* 하위 리스트 각각 요소 스타일 설정 */
.navbar__menu__item,
.man__item,
.woman__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  font-size: 16px;
}

/* 하위 리스트 각각 요소 호버 설정 */
.navbar__menu__item:hover,
.man__item:hover,
.woman__item:hover {
  font-weight: bold;
}

/* Scroll */
.arrow-up{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: black;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
  outline: none;
  border: none;
  cursor:pointer;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) { 

.main{
  padding: 0px;
}


.gallery{
  grid-template-rows: repeat(2, 200px);
}

.arrow-up { 
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  right: 16px;
  bottom: 16px;
}

}
