/* 헤더 기준으로 리셋 */
* {
  padding: 0px;
  margin: 0px;
}

/* ul 점 없애기 */
ul {
  list-style: none;
}


/* 최대 넓이 지정 */
.container {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  box-sizing: border-box;
}

.card {
  padding: 24px 16px;
  border-bottom: 16px solid rgb(245, 245, 245);
}

/* 로고 이름 */
.payment__title {
  font-size: 48px;
  text-align: center;
  font-family: 'GFS Didot', serif;    
}

/* 주문 상품 */
.content__product {
  margin-bottom: 24px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* 상품 정보 */
.content__product {
  display: flex;
}

.product__img img {
  width: 88px;
  height: 104px;
  margin-right: 16px;
}

/* 상품 설명 */
.product__intro {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__intro p {
  font-size: 18px;
}

.product__intro span {
  font-size: 14px;
  color: #959595;
  margin-bottom: 16px;
}

/* 상품 합계 */
.product__total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(245,245,245);
  padding-top: 24px;
}

.total-price {
  color: #4053ff;
  font-size: 22px;
  font-weight: 800;
}

/* 주문자 정보 */
.buyer__name {
  margin-bottom: 8px;
  font-size: 18px;
}

.buyer__number {
  font-size: 14px;
}

/* 주문 방법 */
.method__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.method{
  width: 43%;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  padding: 16px;
  line-height: 16px;
  margin-bottom: 16px;
}

.method label { 
  margin-left: 4px;
  font-size: 15px;
}

/* 구매 버튼 */
#buy-btn {
  width: 100%;
  outline:none;
  border:none;
  cursor:pointer;
  background-color: black;
  color: white;
  font-size: 19px;
  height: 64px;
}

#buy-btn:hover {
  opacity: 0.8;
}
