/* 모바일 메뉴 */
.nav__menu { 
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
    z-index: 99;
}

.md__overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%; height: 100%;
    position: absolute;
}

.md__content{
    position: absolute;
    top: 5rem;
    background-color: transparent;
    padding: 25px;
    text-align: center;
}

.md__content a {
    color: white;
    font-size: 2rem;
    opacity: 0.8;
}

.hidden,
.toggle {
    display: none;
}

@media screen and (max-width: 768px){
    .toggle{
        display: block;
        position: absolute;
        left: 3rem;
    }

    .md__content li {
        margin-bottom: 0.5rem;
    }

    .md__content a:hover {
        opacity: 1;
    }
    
}
