/* 헤더 기준으로 리셋 */
* {
  padding: 0px;
  margin: 0px;
}

/* ul 점 없애기 */
ul {
  list-style: none;
}

/* 헤더 */
.header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
}

/* 메뉴바 */
.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav li:hover {
  cursor: pointer;
}

/* 로고 */
.header__left li {
  font-size: 80px;
  font-family: "GFS Didot", serif;
  color: black;
}

.header__left a {
  text-decoration: none;
  margin-left: 200px;
}

/* 상단 메뉴*/
.header__right li {
  margin-right: 30px;
  font-size: 16px;
}

/* 메인 */
.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0;
  line-height: 3;
}

.blog {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 60vh);
  margin-bottom: 40px;
}
.blog__post {
  background-color: #f3ede8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog__post:nth-child(even) img {
  order: 1;
}

.blog__post img {
  width: 100%;
  height: 100%;
}

.post__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post__date {
  margin-bottom: 70px;
}

h4 {
  font-size: 32px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.gallery {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 410px);
  margin-bottom: 40px;
}
.gallery__poster {
  height: 100%;
  cursor: pointer;
}
.gallery__poster img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}
.gallery__poster:hover {
  opacity: 0.5;
}

/* 푸터 */
.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 65px 0px;
  color: black;
  border-top: 1px solid #ccc;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.column__title {
  margin-bottom: 50px;
  opacity: 0.5;
}

.footer__column ul {
  text-align: center;
}

.footer__column li {
  margin-bottom: 15px;
  list-style: none;
  cursor: pointer;
}

/* ---------- */

li {
  list-style: none;
}

/* 토글 */
.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 20px;
  color: black;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* 메뉴 */
.navbar__menu {
  display: none;
  position: absolute;
}

/* 남자 여자 하위 리스트 가리기 */
.man__list,
.woman__list {
  display: none;
  margin-left: 35px;
}

/* 오픈 */
.navbar__menu.open,
.man__list.open,
.woman__list.open {
  display: flex;
  flex-direction: column;
}

/* 하위 리스트 각각 요소 스타일 설정 */
.navbar__menu__item,
.man__item,
.woman__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  font-size: 16px;
}

/* 하위 리스트 각각 요소 호버 설정 */
.navbar__menu__item:hover,
.man__item:hover,
.woman__item:hover {
  font-weight: bold;
}
