/* 헤더 기준으로 리셋 */
* {
  padding: 0px;
  margin: 0px;
}

/* ul 점 없애기 */
ul {
list-style: none;
}

/* 헤더 */
.header {
position: sticky;
z-index: 1;
top: 0;
width: 100vw;
display: flex;
align-items: center;
}

/* 메뉴바 */
.nav {
width: 100vw;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav ul {
display: flex;
}

.nav li:hover {
cursor: pointer;
}

/* 로고 */
.header__left li {
margin-left: 200px;
font-size: 80px;
font-family: 'GFS Didot', serif;
color: black;
}

.header__left a { 
text-decoration: none;
}

/* 상단 메뉴*/
.header__right li {
margin-right: 30px;
font-size: 16px;
}

/* 회원가입 버튼 */
.main-btn{
  outline:none;
  border:none;
  cursor:pointer;
}

/* 메인 */
.main { 
  max-width: 500px;
  margin: 0 auto;
  padding: 100px;
  line-height: 3;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 비밀번호 변경 제목 */
.main__span{
  margin-bottom: 20px;
  font-size: 20px;
}

.main__input{
  display: flex;
  flex-direction: column;
  color: #959595;
  font-size: 14px;
  font-weight: bold;
}

.main__input input{
  outline: none;
  width: 370px;
  height: 25px;
  padding: 10px 15px;
  color: #757575;
}

/* 변경하기 버튼 */
.modify-btn { 
  background-color: black;
  width: 220px;
  height: 50px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 40px 0;
  font-size: 14px;
}

.modify-btn:hover{
  opacity: 0.8;
}

/* 푸터 */
.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 65px 0px;
  color: black;
  border-top: 1px solid #ccc;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.column__title {
  margin-bottom: 50px;
  opacity: 0.5;
}

.footer__column ul {
  text-align: center;
}

.footer__column li {
  margin-bottom: 15px;
  list-style: none;
  cursor: pointer;
}