/* 헤더 기준으로 리셋 */
* {
  padding: 0px;
  margin: 0px;
}

/* ul 점 없애기 */
ul {
list-style: none;
}

/* 헤더 */
.header {
position: sticky;
z-index: 1;
top: 0;
width: 100vw;
display: flex;
align-items: center;
}

/* 메뉴바 */
.nav {
width: 100vw;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav ul {
display: flex;
}

.nav li:hover {
cursor: pointer;
}

/* 로고 */
.header__left li {
margin-left: 200px;
font-size: 80px;
font-family: 'GFS Didot', serif;
color: black;
}

.header__left a { 
text-decoration: none;
}

/* 상단 메뉴*/
.header__right li {
margin-right: 30px;
font-size: 16px;
}

/* 회원가입 버튼 */
.main-btn{
  outline:none;
  border:none;
  cursor:pointer;
}

/* 메인 */
.main { 
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  line-height: 3;
}

.main__top { 
  display: flex;
  flex-direction: column;
} 

.main__top input {
  outline: none;
  border:none;
  border-bottom: 1px solid black;
  font-size: 16px;
  line-height: 2;
}

.input__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 회원가입 개인정보 입력 */
.main__input {
  display: flex;
  flex-direction: column;
  width: 400px;
}

/* 우편번호와 우편번호찾기 버튼 좌우 정렬 */
.input__address{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.address_label{
  display: flex;
  flex-direction: column;
}

/* 우편번호 찾기 버튼 */
.address-btn{
  background-color: black;
  color: white;
  width: 180px;
  height: 50px;
}

.main__checkbox {
  display: flex;
  align-items: center;
}

/* 체크박스  */
.main__checkbox input{
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}

/* 계정 만들기 버튼 */
.signup-btn{
  background-color: black;
  color: white;
  width: 180px;
  height: 50px;
}

/* 개인 정보 동의 */
.main__checkbox span {
  font-size: 14px;
}

.main__checkbox a {
  color: grey;
  font-size: 12px;
}

/* 푸터 */
.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 65px 0px;
  color: black;
  border-top: 1px solid #ccc;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.column__title {
  margin-bottom: 50px;
  opacity: 0.5;
}

.footer__column ul {
  text-align: center;
}

.footer__column li {
  margin-bottom: 15px;
  list-style: none;
  cursor: pointer;
}