/* reset */
* {
    padding: 0px;
    margin: 0px;
    color: #ccc;
  }
  
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 헤더 */
.header {
  z-index: 1;
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
  
.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.nav li:hover {
  cursor: pointer;
}

/* 자라 로고 */
.header__left li {
  margin-left: 200px;
  font-size: 80px;
  color: black;
  font-family: 'GFS Didot', serif;
}
  
/* 상단 메뉴*/
.header__right li {
  margin-right: 100px;
  color: black;
  font-size: 16px;
}
