/* 헤더 기준으로 리셋 */
* {
  padding: 0px;
  margin: 0px;
}

/* ul 점 없애기 */
ul {
  list-style: none;
}

/* 헤더 */
.header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
}

/* 메뉴바 */
.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav li:hover {
  cursor: pointer;
}

/* 로고 */
.header__left li {
  font-size: 80px;
  font-family: "GFS Didot", serif;
  color: black;
}

.header__left a {
  text-decoration: none;
  margin-left: 200px;
}

/* 상단 메뉴*/
.header__right li {
  margin-right: 30px;
  font-size: 16px;
}

/* 메인 */
.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0;
  line-height: 3;
}

.main__wrapper{ 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
   justify-content: space-between; 
}

.wrapper__a{
  text-align: center;
  text-decoration: none;
  color: black;
  margin-bottom: 60px;
}

.wrapper__a img:hover { 
  opacity: 0.6;
}

.a__product {
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
}

.back { 
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.a__product:hover {
  display: inline-block;
}

/* 푸터 */
.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 65px 0px;
  color: black;
  border-top: 1px solid #ccc;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.column__title {
  margin-bottom: 50px;
  opacity: 0.5;
}

.footer__column ul {
  text-align: center;
}

.footer__column li {
  margin-bottom: 15px;
  list-style: none;
  cursor: pointer;
}

/* ---------- */

li {
  list-style: none;
}

/* 토글 */
.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 20px;
  color: black;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* 메뉴 */
.navbar__menu {
  display: none;
  position: absolute;
}

/* 남자 여자 하위 리스트 가리기 */
.man__list,
.woman__list {
  display: none;
  margin-left: 35px;
}

/* 오픈 */
.navbar__menu.open,
.man__list.open,
.woman__list.open {
  display: flex;
  flex-direction: column;
}

/* 하위 리스트 각각 요소 스타일 설정 */
.navbar__menu__item,
.man__item,
.woman__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  font-size: 16px;
}

/* 하위 리스트 각각 요소 호버 설정 */
.navbar__menu__item:hover,
.man__item:hover,
.woman__item:hover {
  font-weight: bold;
}
