/* 헤더 기준으로 리셋 */
* {
  padding: 0px;
  margin: 0px;
}

/* ul 점 없애기 */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 헤더 */
.header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
}

/* 메뉴바 */
.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav li:hover {
  cursor: pointer;
}

/* 로고 */
.header__left li {
  margin-left: 200px;
  font-size: 80px;
  font-family: "GFS Didot", serif;
  color: black;
}

.header__left a {
  text-decoration: none;
}

/* 상단 메뉴*/
.header__right li {
  margin-right: 30px;
  font-size: 16px;
}

/* 메인 */
.main {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  line-height: 3;
}

.main__nav ul {
  text-align: center;
}

.main__nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav__basket {
  border-bottom: 1px solid black;
}

.main__top {
  display: flex;
  flex-direction: column;
}

.top__title {
  border-bottom: 1px solid #959595;
}

.name,
.qty,
.price,
.text__name a,
.text__size {
  display: inline-block;
  color: #959595;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.name {
  width: 50%;
}

.qty {
  width: 30%;
  text-align: center;
}

.top__content {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  border-bottom: 1px solid #959595;
  align-items: center;
}

.product {
  display: flex;
  width: 50.6%;
  height: 102.08px;
}

img {
  width: 102.08px;
  height: 100%;
}

.text {
  padding-left: 20px;
  width: 75%;
}

.order-btn {
  margin: 16px;
  float: right;
  width: 150px;
  height: 60px;
  font-size: 14px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}

.order-btn:hover {
  opacity: 0.8;
}

/* 푸터 */
.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 65px 0px;
  color: black;
  border-top: 1px solid #ccc;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.column__title {
  margin-bottom: 50px;
  opacity: 0.5;
}

.footer__column ul {
  text-align: center;
}

.footer__column li {
  margin-bottom: 15px;
  list-style: none;
  cursor: pointer;
}
